* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --foundation-elefante-light: rgba(249, 249, 247, 1);
  --foundation-elefante-normal: rgba(196, 191, 178, 1);
  --foundation-elefante-dark-active: rgba(22, 21, 20, 1);
}

body {
  background: var(--foundation-elefante-light);
  width: auto;
  height: 100vh;
}

#header {
  display: flex;
  width: auto;
  height: 81px;
  background-color: var(--foundation-elefante-light)
}

#options {
  display: flex;
  width: 940px;
  height: auto;
  gap: 20px;
  margin: auto;
  justify-content: flex-start;
  align-items: center;
}

#options img {
  width: 40px;
  height: 40px;
}

#options h1 {
  margin-right: 30px;
  color: var(--foundation-elefante-dark-active);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 900;
}

#options p {
  color: var(--foundation-elefante-dark-active);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
}

#options button {
  width: 100px;
  height: 51px;
  flex-shrink: 0;

  border-radius: 30px;
  border: 2px solid var(--foundation-elefante-normal);
  background: var(--foundation-elefante-light);
}

#button-language {
   margin-left: auto;
}