* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Backgrounds*/
  --body-background: rgba(252, 252, 251, 1);
  --about-background: url(./assets/quadro-preto.png);

  /*Text*/
  --text-color-light: rgba(249, 249, 247, 1);
  --text-color-dark: rgba(22, 21, 20, 1);
  --text-color-animation: rgba(196, 191, 178, 1);
  --text-color-about-title: linear-gradient(
    to top,
    rgba(249, 249, 247, 1) 50%,
    rgba(22, 21, 20, 1) 50%
  );

  /*Objects*/
  --cards-background: rgba(196, 191, 178, 1);
  --separator-bar: rgba(249, 249, 247, 1);
  --box-shadow: rgba(0, 0, 0, 0.25);

  /*Buttons*/
  --button-text-light: rgba(249, 249, 247, 1);
  --button-text-dark: rgba(22, 21, 20, 1);
  --button-text-dark-purple: rgba(0, 0, 71, 1);

  --button-light-gray: rgba(196, 191, 178, 1);
  --button-light-purple: rgba(44, 19, 239, 1);
  --button-dark-purple: rgba(0, 0, 71, 1);
}

.dark {
  /*Backgrounds*/
  --body-background: rgba(49, 48, 45, 1);
  --about-background: url(./assets/quadro-branco.png);

  /*Text*/
  --text-color-light: rgba(22, 21, 20, 1);
  --text-color-dark: rgba(249, 249, 247, 1);
  --text-color-animation: rgba(196, 191, 178, 1);
  --text-color-button: rgba(249, 249, 247, 1);
  --text-color-about-title: linear-gradient(
    to top,
    rgba(22, 21, 20, 1) 50%,
    rgba(249, 249, 247, 1) 50%
  );

  /*Objects*/
  --cards-background: rgba(69, 67, 62, 1);
  --separator-bar: rgba(249, 249, 247, 1);
  --box-shadow: rgba(255, 255, 255, 0.25);

  /*Buttons*/
  --button-text-light: rgba(249, 249, 247, 1);
  --button-text-dark: rgba(249, 249, 247, 1);
  --button-text-dark-purple: rgba(249, 249, 247, 1);

  --button-light-gray: rgba(196, 191, 178, 1);
  --button-light-purple: rgba(44, 19, 239, 1);
  --button-dark-purple: rgba(0, 0, 71, 1);
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: var(--body-background);
}

/*HEADER*/

#header-header {
  display: flex;
  height: 81px;
  align-items: center;
  justify-content: center;

  background-color: var(--body-background);
}

#header-header nav {
  display: flex;
  width: 1200px;
}

#nav-logo {
  display: flex;
  align-items: center;
  gap: 10px;
}

#nav-logo img {
  width: 40px;
  height: 40px;
}

#nav-logo h1 {
  color: var(--text-color-dark);
  font-family: Poppins;
  font-size: 24px;
  font-weight: 900;
}

#nav-options {
  display: flex;
  margin: auto;
  gap: 20px;
}

#nav-options a {
  text-decoration: none;
  color: var(--text-color-dark);
  font-family: Poppins;
  font-size: 16px;
  font-weight: 300;
}

#nav-button {
  display: flex;
  gap: 20px;
}

#nav-button button {
  width: 100px;
  height: 51px;

  border-radius: 30px;
  border: 2px solid var(--button-light-gray);
}

#nav-button-language {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 5px;

  background-color: transparent;
}

#nav-button-language span {
  color: var(--text-color-dark);
  font-family: Poppins;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#nav-button-mode {
  display: flex;
  align-items: center;

  background-color: transparent;
}

#nav-button-mode span {
  display: flex;
  width: 40px;
  height: 40.8px;

  align-items: center;
  justify-content: center;
  margin-left: 5px;

  border-radius: 50%;
  background-color: var(--button-light-gray);

  transition: 350ms;
}

#nav-button-mode img {
  display: flex;
  width: 22px;
  height: 22.44px;
}

#nav-button-language:hover {
  background-color: var(--button-light-gray);
  cursor: pointer;
}

#nav-options a:hover {
  transition: 150ms;
  color: var(--text-color-animation);
}

.dark #nav-button-mode span {
  transition: 350ms;
  margin-left: 51px;
}

/*COVER*/

#cover-article {
  display: flex;
  height: 720px;
}

#cover-section {
  display: block;
  width: 878px;
  height: 125px;
  margin: 194px auto 0px auto;
}

#cover-section h1 {
  color: var(--text-color-dark);
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;

  border-right: 4px solid;
  width: 878px;
  white-space: nowrap;
  overflow: hidden;
  animation: typing 2s steps(25), blinking 0.5s infinite step-end alternate;
}

@keyframes typing {
  from {
    width: 0;
  }
}

@keyframes blinking {
  50% {
    border-color: transparent;
  }
}

#cover-section p {
  text-align: right;

  color: var(--text-color-dark);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#cover-section div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 70px;
}

#cover-section button {
  display: flex;
  width: 285.714px;
  height: 40px;
  align-items: center;
  justify-content: center;
}

#cover-button-resume {
  border-radius: 30px;
  background-color: var(--button-dark-purple);
  border: 2px solid var(--button-dark-purple);
}

#cover-button-resume a {
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;

  color: var(--button-text-light);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

#cover-button-contact {
  border-radius: 30px;
  background-color: transparent;
  border: 2px solid var(--button-light-purple);
}

#cover-button-contact a {
  width: 100%;
  height: 100%;
  align-content: center;
  text-align: center;

  color: var(--button-text-dark);
  font-family: Poppins;
  font-size: 13px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

#cover-button-resume,
#cover-button-contact {
  transition: background-color 0.3s ease;
}

#cover-button-resume a,
#cover-button-contact a {
  transition: color 0.3s ease;
}

#cover-button-resume:hover {
  background-color: transparent;
  cursor: pointer;
}

#cover-button-resume:hover a {
  color: var(--button-text-dark-purple);
}

#cover-button-contact:hover {
  background-color: var(--button-light-purple);
  cursor: pointer;
}

#cover-button-contact:hover a {
  color: var(--button-text-light);
}

/*ABOUT*/

#about-article {
  display: flex;
  height: 720px;
  align-items: center;
  justify-content: center;

  background: var(--about-background) no-repeat top center/cover;
  border-radius: 30px 30px 0 0;
}

#about-section {
  display: flex;
  width: fit-content;
  height: fit-content;
  gap: 120px;
  align-items: center;
  justify-content: center;
}

#about-section header {
  display: flex;
  width: fit-content;
  height: fit-content;
  position: absolute;
  top: 706px;
  left: 120px;
}

#about-section header h1 {
  background-image: var(--text-color-about-title);
  background-clip: text;
  color: transparent;

  font-family: Poppins;
  font-size: 128px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#about-section img {
  width: 333px;
  height: 330px;
  object-fit: cover;
}

#about-section div {
  flex: 1;
  max-width: 600px;
}

#about-section div p {
  color: var(--text-color-light);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 25px;
}

/*WORKS*/

#works-article {
  display: flex;
  height: 1440px;
  justify-content: center;
}

#works-section {
  display: block;
  width: 1080px;
  height: 1065px;
  position: relative;
  top: -60px;

  border-radius: 30px;
  background: var(--cards-background);
  box-shadow: 0px 0px 25px 0px var(--box-shadow);
}

#works-section header {
  display: flex;
  width: auto;
  height: auto;
  gap: 35px;
}

#works-section header img {
  width: 387.474px;
  height: 393.564px;
}

#works-section-header {
  display: block;
  margin: 90px 55px 0px 0px;
}

#works-section-header h1 {
  color: var(--text-color-dark);
  text-align: center;
  font-family: Poppins;
  font-size: 128px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#works-section-header h2 {
  color: var(--text-color-dark);
  text-align: right;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
}

#works-section #image-logo {
  display: flex;
  width: 594px;
  height: 321px;
  margin: 74px auto;
}

#works-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

#works-container h1 {
  color: var(--text-color-dark);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#works-container-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 32px;
}

#works-container-elements div p {
  color: var(--text-color-dark);
  text-align: justify;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#works-container-elements img {
  width: 509px;
  height: 423.833px;

  border-radius: 30px;
}

#works-container span {
  width: 175px;
  height: 8px;
  margin-right: 841px;
  margin-top: -20px;

  background: var(--separator-bar);
}

#works-button-article {
  display: flex;
  width: 360px;
  height: 80px;
  margin-top: 20px;

  border-radius: 30px;
  border: 2px solid var(--button-dark-purple);
  background: var(--button-dark-purple);
}

#works-button-article a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  color: var(--button-text-light);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

#works-button-article {
  transition: background-color 0.3s ease;
}

#works-button-article a {
  transition: color 0.3s ease;
}

#works-button-article:hover {
  background-color: transparent;
  cursor: pointer;
}

#works-button-article:hover a {
  color: var(--button-text-dark-purple);
}

/*SKILLS*/

#skills-article {
  width: auto;
  height: 720px;
}

#skills-section {
  display: block;
}

#skills-section header {
  display: block;
  width: 548px;
  height: 155px;
  margin: 0px auto 0px 90px;
}

#skills-section header h1 {
  color: var(--text-color-dark);
  text-align: center;
  font-family: Poppins;
  font-size: 64px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#skills-section header h2 {
  color: var(--text-color-dark);
  text-align: right;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
}

#skills-container {
  display: flex;
  align-items: center;
  margin-top: 50px;
  gap: 16px;

  overflow: hidden;
}

#skills-container div {
  width: 350px;
  height: 450px;

  border-radius: 30px;
  background: var(--cards-background);

  animation: infiniteScroll 1s linear infinite;
}

@keyframes infiniteScroll {
  to {
    translate: calc(-50% - 5px);
  }
}

.skills-container-lang {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  padding: 40px;
}

.skills-container-lang img {
  width: 65px;
  height: 65px;

  background-color: var(--cards-background);
}

.skills-container-lang h1 {
  width: 125px;
  height: 40px;
  margin-top: 15px;

  color: var(--text-color-dark);
  text-align: center;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.skills-container-lang p {
  width: 269px;
  height: 72px;
  margin-top: 10px;

  color: var(--text-color-dark);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

.skills-container-lang span {
  width: 60px;
  height: 5px;

  background: var(--separator-bar);
}

/*PROJECTS*/

#projects-article {
  width: auto;
  height: 1440px;
}

#projects-section {
  width: fit-content;
  height: fit-content;
  display: block;
  margin: auto;
}

#projects-one {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#projects-one span {
  width: 610px;
  height: 371px;

  border-radius: 30px;
  background: black;
}

#projects-one #div-title-one {
  display: flex;
  width: 200px;
  height: 309px;
  justify-content: center;
  align-items: center;

  border-radius: 30px;
  background-color: var(--Foundation-Elefante-Normal---Principal, #c4bfb2);
}

#projects-one #div-title-one p {
  color: var(--Foundation-Elefante-Light, #f9f9f7);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

#continer-teste {
  width: fit-content;
  height: fit-content;

  display: block;
}

#projects-one #div-decoration-one {
  width: 200px;
  height: 150px;
  margin-bottom: 10px;

  border-radius: 30px;
  background-color: var(--foundation-elefante-light-active, #edebe7);
}

#projects-one #div-languages-one {
  width: 200px;
  height: 150px;

  border-radius: 30px;
  background-color: var(--foundation-elefante-normal-active, #9d998e);
}

#projects-one #div-languages-one img {
  width: 65px;
  height: 65px;
}

#projects-one button {
  width: 410px;
  height: 42px;

  position: relative;
  top: 170px;
  right: 420px;

  border-radius: 30px;
  background-color: var(--Roxo-Destaque, #05033a);
}

#projects-one button a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  text-decoration: none;
}
