#contact-article {
  display: block;
  width: auto;
  height: 1440px;
}

#contact-section {
  display: block;
  height: 1440px;
}

#contact-section header {
  display: block;
  width: fit-content;
  height: fit-content;
  margin: 100px 0px 0px 124.5px;
}

#contact-section header h1 {
  color: var(--text-color-projects-title);
  text-align: left;
  font-family: Poppins;
  font-size: 128px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

#contact-section header h2 {
  position: relative;
  top: -48px;
  left: 40px;

  color: var(--text-color-white);
  text-align: right;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#contact-social {
  display: flex;
  height: 80px;
  justify-content: center;
  padding: 0px 45px;
  position: relative;
  bottom: -979px;
  gap: 45px;
}

#contact-social a {
  border-radius: 50%;
  padding: 15px;

  transition: background 0.2s;
}

#contact-social ion-icon {
  width: 50px;
  height: 50px;

  color: black;
}

#contact-social a:hover {
  background: var(--highlight-color);
}

#contact-social span {
  width: 442.1px;
  height: 8px;
  margin: auto;

  background-color: var(--separator-bar);
}
