#contact-article {
  display: block;
  width: auto;
  height: 1440px;
}

#contact-section {
  display: flex;
  width: 100%;
  height: 1440px;
  flex-direction: column;

  background: var(--background-special) no-repeat top center/cover;
}

#contact-content {
  display: flex;
  width: 100%;
  height: fit-content;
  flex-direction: row;
}

#contact-content header {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: 240px;
  margin: 430px 0px 0px 100px;
}

#contact-content header h1 {
  color: var(--text-color-projects-title);
  text-align: left;
  font-family: Poppins;
  font-size: 128px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
}

#contact-content header h2 {
  position: relative;
  top: -40px;

  color: var(--text-color-white);
  text-align: right;
  font-family: Poppins;
  font-size: 32px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#contact-content form {
  display: flex;
  width: 540px;
  height: 464px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 488px auto 0px auto;
  gap: 22px;
}

.div-inputs {
  display: flex;
  width: 540px;
  height: 50px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 10px;

  border-radius: 15px;
  border: 2px solid var(--contact-div-background);
  background-color: var(--contact-div-background);
}

.div-inputs ion-icon {
  width: 20px;
  height: 20px;

  color: black;
}

.div-inputs input {
  display: flex;
  width: 500px;
  height: 30px;
  align-items: center;
  justify-content: center;
  padding: 10px;

  border-radius: 15px;
  border: 2px solid var(--contact-inputs-background);
  background-color: var(--contact-inputs-background);
}

.div-textarea {
  display: flex;
  width: 540px;
  height: 150px;
  align-items: center;
  justify-content: center;
  padding: 10px;
  gap: 20px;

  border-radius: 15px;
  border: 2px solid var(--contact-div-background);
  background-color: var(--contact-div-background);
}

.div-textarea textarea {
  width: 500px;
  height: 100px;
  padding: 10px;

  border-radius: 15px;
  border: 2px solid var(--contact-inputs-background);
  background-color: var(--contact-inputs-background);
}

#contact-content button {
  display: flex;
  width: 180px;
  height: 40px;
  justify-content: center;
  align-items: center;
  align-self: start;
  gap: 20px;

  border-radius: 30px;
  border: 2px solid var(--button-light-purple);
  background: var(--button-light-purple);

  color: var(--button-text-white);
  text-align: center;
  font-family: Poppins;
  font-size: 12px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

#contact-content ion-icon {
  width: 20px;
  height: 20px;

  color: black;
}

#contact-content #button-icon {
  width: 10px;
  height: 10px;

  color: white;
}

#contact-content button:hover {
  transition: background-color 0.3s ease;
  background-color: transparent;
  cursor: pointer;
}

#contact-content button:hover #button-icon {
  animation: arrow-animation 1s;
}

@keyframes arrow-animation {
  0% {
    transform: translateX(0);
  }
  50% {
    transform: translateX(8px);
  }
  100% {
    transform: translateX(0);
  }
}

#contact-social {
  display: block;
  width: fit-content;
  height: 112px;
  margin: 293px auto 0px auto;
}

#contact-social p {
  color: white;
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

#div-social-links {
  display: flex;
  width: fit-content;
  height: fit-content;
  align-content: center;
  margin-top: 20px;
  gap: 45px;
}

#div-social-links a {
  display: flex;
  width: 70px;
  height: 70px;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  padding: 10px;
}

#div-social-links ion-icon {
  width: 50px;
  height: 50px;

  color: white;
}

#contact-social a:hover {
  transition: 200ms;
  background: var(--highlight-color);
}
