footer {
  display: flex;
  width: auto;
  height: 81px;
  align-items: center;
  justify-content: center;

  background-color: rgba(44, 19, 239, 1);

  color: white;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

footer a {
  color: white;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
