* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /*Images*/
  --img-python: url(../assets/logo-languages/python-light.svg);
  --img-cpp: url(../assets/logo-languages/cpp-light.svg);
  --img-html: url(../assets/logo-languages/html-light.svg);
  --img-css: url(../assets/logo-languages/css-light.svg);
  --img-js: url(../assets/logo-languages/js-light.svg);

  /*Background*/
  /* --background: linear-gradient(180deg, #45433e 0%, #161514 100%); */
  --background: url(../assets/background/background-dark.jpg);
  --about-background: url(../assets/background/quadro-branco.png);
  --background-special: url(../assets/background/background-special.png);

  --contact-div-background: rgba(196, 191, 178, 1);
  --contact-inputs-background: rgba(176, 172, 160, 1);

  /*Text*/
  --text-color-white: rgba(237, 235, 231, 1);
  --text-color-dark: rgba(22, 21, 20, 1);
  --text-color-animation: rgba(44, 19, 239, 1);

  --text-color-cover-special: rgba(44, 19, 239, 1);

  --text-color-about-special: rgba(44, 19, 239, 1);

  --text-color-about-title: linear-gradient(
    to top,
    rgba(22, 21, 20, 1) 50%,
    rgba(249, 249, 247, 1) 50%
  );

  --text-color-projects-title: rgba(44, 19, 239, 1);
  --text-color-projects-title-shadow: rgba(0, 0, 71, 1);

  --text-color-projects-content: rgba(237, 235, 231, 1);

  /*Objects*/
  --img-project-01: url(../assets/contents/project-01.png);
  --img-project-02: url(../assets/contents/project-02.png);
  --img-project-03: url(../assets/contents/project-03.png);

  --cards-background: rgba(69, 67, 62, 1);
  --cards-background-special: rgba(237, 235, 231, 1);

  --separator-bar: rgba(249, 249, 247, 1);
  --box-shadow: rgba(0, 0, 0, 0.25);

  /*Buttons*/
  --highlight-color: rgba(255, 255, 255, 0.2);
  --highlight-color-contacts: rgba(255, 255, 255, 0.2);

  --button-text-white: rgba(249, 249, 247, 1);
  --button-text-dark-purple: rgba(0, 0, 71, 1);

  --button-text-special: rgba(249, 249, 247, 1);

  --button-light-gray: rgba(196, 191, 178, 1);
  --button-light-purple: rgba(44, 19, 239, 1);
  --button-dark-purple: rgba(0, 0, 71, 1);
}

.light {
  /*images*/
  --img-python: url(../assets/logo-languages/python-dark.svg);
  --img-cpp: url(../assets/logo-languages/cpp-dark.svg);
  --img-html: url(../assets/logo-languages/html-dark.svg);
  --img-css: url(../assets/logo-languages/css-dark.svg);
  --img-js: url(../assets/logo-languages/js-dark.svg);

  /*Background*/
  --background: url(../assets/background/background-light.jpg);
  --about-background: url(../assets/background/quadro-preto.png);

  /*Text*/
  --text-color-white: rgba(22, 21, 20, 1);
  --text-color-dark: rgba(237, 235, 231, 1);
  --text-color-animation: rgba(44, 19, 239, 1);

  --text-color-about-title: linear-gradient(
    to top,
    rgba(249, 249, 247, 1) 50%,
    rgba(22, 21, 20, 1) 50%
  );

  /*Objects*/
  --cards-background: rgba(196, 191, 178, 1);

  /*Buttons*/
  --button-text-special: rgba(22, 21, 20, 1);

  --highlight-color: rgba(0, 0, 0, 0.1);
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background) no-repeat top center/cover;
  overflow-x: hidden;
}
