#works-article {
  display: flex;
  height: 1440px;
  justify-content: center;
}

#works-section {
  display: block;
  width: 1080px;
  height: 1065px;
  position: relative;
  top: -60px;

  border-radius: 30px;
  background: var(--cards-background);
  box-shadow: 0px 0px 25px 0px var(--box-shadow);
}

#works-section header {
  display: flex;
  width: auto;
  height: auto;
  gap: 35px;
}

#works-section header img {
  width: 387.474px;
  height: 393.564px;
}

#works-section-header {
  display: block;
  width: 605px;
  height: 304px;
  margin: 90px 55px 0px 0px;
}

#works-section-header h1 {
  color: var(--text-color-white);
  text-align: center;
  font-family: Poppins;
  font-size: 128px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

#works-section-header h2 {
  color: var(--text-color-white);
  text-align: right;
  font-family: Poppins;
  font-size: 40px;
  font-style: normal;
  font-weight: 275;
  line-height: normal;
}

#works-container {
  display: flex;
  width: fit-content;
  height: 639px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 32px;
}

#works-container h1 {
  color: var(--text-color-white);
  text-align: center;
  font-family: Poppins;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

#works-container-elements {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 32px;
  gap: 32px;
}

#works-container-elements div p {
  color: var(--text-color-white);
  text-align: justify;
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 300;
  line-height: normal;
}

#works-container-elements img {
  width: 509px;
  height: 423.833px;

  border-radius: 30px;
}

#works-container span {
  width: 175px;
  height: 8px;
  margin-top: -20px;
  margin-right: 841px;

  background: var(--separator-bar);
}

#works-button-article {
  display: flex;
  width: 360px;
  height: 60px;
  margin: auto;

  border-radius: 30px;
  border: 2px solid var(--button-dark-purple);
  background: var(--button-dark-purple);
}

#works-button-article a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;

  color: var(--button-text-white);
  font-family: Poppins;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
  text-decoration: none;
}

#works-section #image-logo {
  display: block;
  width: 594px;
  height: 321px;
  margin: 72px auto;
}

#works-button-article {
  transition: background-color 0.3s ease;
}

#works-button-article a {
  transition: color 0.3s ease;
}

#works-button-article:hover {
  background-color: transparent;
  cursor: pointer;
}

#works-button-article:hover a {
  color: var(--button-text-dark-purple);
}
